/* ------------------------------------------------------------ */
/* CabeÃ§alho */
h1.titulo, .autor, .data { 
                text-align: center;
 }


/* ------------------------------------------------------------ */
/* Imagens */
.imagem > img { 
          max-width: 100%;
}

/* ------------------------------------------------------------ */
/* Texto */
em > em {
    font-style: normal;
}

#footnotes {
	display: oeb-page-foot;
}

/* ------------------------------------------------------------ */
/* Equações */
.equation {
    text-align: center;
}

.equation > .eqnum {
    float: right;
}

/* ------------------------------------------------------------ */
/* Listas */
ol.I > li {
    list-style-type: Roman;
   }