/* ------------------------------------------------------------ */
/* CabeÃ§alho */
h1.titulo, .autor, .data { 
                text-align: center;
 }


/* ------------------------------------------------------------ */
/* Imagens */
.imagem > img { 
          max-width: 100%;
}

/* ------------------------------------------------------------ */
/* Texto */
em > em {
    font-style: normal;
}

#footnotes {
	display: oeb-page-foot;
}

/* ------------------------------------------------------------ */
<<<<<<< HEAD
/* EquaÃ§Ãµes */
.equation { 
            text-align: center;
 }

.equation > .eqnum { 
                     float: right;
 }
=======
/* Equações */
.equation {
    text-align: center;
}

.equation > .eqnum {
    float: right;
}

/* ------------------------------------------------------------ */
/* Listas */
ol.I > li {
    list-style-type: Roman;
   }
>>>>>>> 8da443cc0d06e9ae72f6d98009515a9ee9eafa32
